@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

/* Thanh cuộn gọn cho khu vực inbox */
.scroll-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}
